body {
  font-family: "Inria Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
  margin: .2em;
  padding: .2em;
  background-color: #DDDDDD;
}

h1, h2 {
  margin: 1em 0;
}

p, ul {
  margin: 0.5em 0;
}

li {
  list-style: none;
  padding: 0.2em 0;
}

a {
  text-decoration: none;
  color: #FFFFFF;
}

a:hover {
  color: #666;
}

nav {
  background-color: #939393;
  padding: 0.5em;
}

nav ul {
  font-family: Copperplate, fantasy;
  display: flex;
  justify-content: space-evenly;
}

.contact-info {
  margin-bottom: 1em;
}

.contact-info p {
  display: inline-block;
  margin-right: 1em;
}

.education, .experience {
  margin-bottom: 1em;
}

.education ul, .experience ul {
  margin-left: 1em;
}

.center {
  display: block;
  margin-left: 2em;
  margin-right: auto;
}

.video {
  display: block;
  margin-left: 2em;
  margin-right: auto;
}

